body{
    background-color: rgb(5, 5, 5);
    color: white;
}

.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: white;
    color: black;
}
.footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: white;
    color: black;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    font-weight: 600;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: yellow;
    font-weight: 900;
}

.principal{
    display: flex;
    flex-direction: row;
}

.imagen{
    width: 350px;
    height: 495px;
}

.boton1{
    width: 350px;
    height: 67px;
    background-color: aquamarine;
    font-size: 28px;
}
.boton2{
    width: 350px;
    height: 67px;
    background-color: chartreuse;
    font-size: 28px;
}